<h1>Good Morning, <%= @email %></h1>
  <p>
    We just wanted to confirm your appointment on <%= @date %>, in the <%= @time %>. We will send you reminders everyday just so you
    don't forget to come in!
  </p>
<p>We can't wait to see you then!</p>