
<div class="container-fluid">

  <br>
  <div class="jumbotron">
    <h1 class="display-4 text-center">The Z Center</h1>
     <p class="lead text-center">Foregin Auto repair. Since 1979.</p>
    <hr class="my-4">
      <p class="text-center">From 1970s Z cars to 2019 foreign automotives and motorcycles, we specialize in A/C, engine repair, turbo repair, and have decades of experience doing total auto repair including body work </p>

      <p class="lead text-center">
          <a class="btn btn-primary btn-lg " href="schedule" role="button">Schedule Now</a>
      </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2> Operating Times</h2>
        <p> Monday-Saturday : 9am-6pm</p>
        <p> Closed Sundays</p>
        <a class="btn btn-secondary" href="services" role="button">View details »</a>
      </div>

      <div class="col-md-4">
        <h2> Contact Us</h2>
        <p> 713-789-1273</p>
        <p> Email : zcenter@gmail.com</p>
        <a href="mailto:zcenter@gmail.com" target="_blank" class="btn btn-secondary">Email Us</a>
      </div>

      <div class="col-md-4">
        <h2> Sign Up</h2>
        <p> An account helps you keep track of your car and future schedules</p>

        <a href="sign_up" class="btn btn-secondary">Sign Up</a>
      </div>
    </div>
  </div>


</div>
