<center>
<h2><%= @greeting %></h2>
3404 Bering Dr. Houston, TX 77057
<h3> Foreign Auto Repair </h3>
<p>Since 1979<br><i> From 1970s Z cars to 2019 foreign automotives and motorcycles, we specialize in A/C, engine repair, turbo repair, and have decades of experience doing total auto repair including body work</i></p>

<!--If you arent on the table it's because you havent 'contributed' on github so I can't see your username and profile link -->
<table>
    <center>Hours of Operation:</center>
	<tr>

	</tr>
	<tr>
		<td>
		    Sunday
		</td>
		<td>
			<b> Closed </b>
		</td>
	</tr>
	<tr>
		<td>
			Monday
		</td>
		<td>
			9AM - 6PM
		</td>
	</tr>
	<tr>
		<td>
		    Tuesday
		</td>
		<td>
			9AM - 6PM
		</td>
	</tr>
	<tr>
		<td>
		    Wednesday
		</td>
		<td>
			9AM - 6PM
		</td>
	</tr>
	<tr>
		<td>
		    Thursday
		</td>
		<td>
			9AM - 6PM
		</td>
	</tr>
	<tr>
		<td>
		    Friday
		</td>
		<td>
			9AM - 6PM
		</td>
	</tr>
	<tr>
		<td>
		    Saturday
		</td>
		<td>
			9AM - 6PM
		</td>
	</tr>

</table>
</center>
