<h2><%= @greeting %></h2>
<h3> who are we? </h3>
<p> we are a group of TAMU computer science students </p>

<!--If you arent on the table it's because you havent 'contributed' on github so I can't see your username and profile link -->
<table>
	<tr>
		<th> Name </th>
		<th> GitHub </th>
	</tr>
	<tr>
		<td>
			Thomas Step
		</td>
		<td>
			<a href="https://github.tamu.edu/tstep916">click me</a>
		</td>
	</tr>
	<tr>
		<td>
			Christopher Sherman
		</td>
		<td>
			<a href="https://github.tamu.edu/csherman1998">click me</a>
		</td>
	</tr>
	<tr>
		<td>
			Bailey Guthrie
		</td>
		<td>
			<a href="https://github.tamu.edu/baileyguthrie">click me</a>
		</td>
	</tr>

</table>