<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>About The Z Center</h1>
      <h3>Foreign Auto Repair </h3>
      <h4> Since 1979 </h4>
      <p class="about-paddingB">
        From 1970s Z cars to 2019 foreign automotives and motorcycles, we specialize in A/C, engine repair, turbo repair, and have decades of experience doing total auto repair including body work
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-5 text-center">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Hours</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td> Sunday </td>
            <td><b> Closed </b></td>
          </tr>
          <tr>
            <td> Monday </td>
            <td> 9AM-6PM </td>
          </tr>
          <tr>
            <td> Tuesday </td>
            <td> 9AM-6PM </td>
          </tr>
          <tr>
            <td> Wednesday </td>
            <td> 9AM-6PM </td>
          </tr>
          <tr>
            <td> Thursday </td>
            <td> 9AM-6PM </td>
          </tr>
          <tr>
            <td> Friday </td>
            <td> 9AM-6PM </td>
          </tr>
          <tr>
            <td> Saturday </td>
            <td> 9AM-6PM </td>
          </tr>
        </tbody>
      </table>
      <div class="about-icons"> 
        <!--Maybe add an email icon here or something -->
      </div>
      <a href="mailto:zcenter@gmail.com" target="_blank" class="btn btn-primary">Email Us</a>
    </div>
  </div>
</div>
