<div align="center">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">All Currently Scheduled Appointments</h5>
        <div class="card-body">
          <%@appointments.each do | appt |%>
            <%="Appointment for #{appt.owner_email} on #{appt.date} in the #{appt.time}"%> <%= link_to 'Edit', edit_appointment_path(appt) %>
            </br>
          <%end%>
        </div>
      </div>
    </div>
  </div>