<div class="bgimg">
  <div class="caption text-light">
    <span class="landing-text-bg landing-text landing-title text-danger">THE Z CENTER</span>
    <br><br>
    <div class="fluid-container">
      <div class="row">
        <div class="col-md-6 offset-md-3 landing-text-bg">
          <span class="landing-text landing-subtext">
            The Auto Shop With Decades of Experience That You Can Trust<br>
          </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <a href="/schedule" class="btn btn-danger btn-lg">Schedule A Service Appointment</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
          <a href="/about_us" class="btn btn-danger btn-lg">Find Out More About Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fluid-container">
  <div class="row landing-row">
    <div class="col-md-8 offset-md-2 text-center">
      <span class="landing-subtitle"> Come Visit Us </span>
    </div>
  </div>
  <div class="row landing-row">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15646.006638454712!2d-95.48912691510985!3d29.728999810467386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8de0f44efc719707!2sZ+Center!5e0!3m2!1sen!2sus!4v1550705031004" style="frameBorder:0px;width:100%;height:400px;border:0px;padding:20px"></iframe>
    </div>
    <div class="col-md-4 font-weight-bold address offset-md-1 text-center my-auto border border-danger">
      <br>
      <p>The Z Center</p>
      <p>3404 Bering Drive</p>
      <p>Houston, TX 77057</p>
      <p>(713) 789-1273</p>
      <br>
    </div>
  </div>
</div>
