<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-2 offset-md-5">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Account Settings</h5>
          <h6 class="card-subtitle mb-2 text-muted">Go here to change your email, password, or delete your account</h6>
          <a href="/users/edit" class="btn btn-primary stretched-link">Go to Account Settings</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-md-3 offset-md-3">
      View Saved Cars
    </div>
    <div class="col-md-3">
      View Appointments
    </div>
  </div>
</div>
