

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1>My Profile</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card text-center">
        <h5 class="card-header">Account Settings</h5>
        <div class="card-body">
          <p class="card-subtitle mb-2 text-muted">Change your account information or delete your account</p>
          <a href="/account_settings" class="btn btn-primary stretched-link">Go to Account Settings</a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row text-center">
    <div class="col-md-5 offset-md-1 mb-3">
      <div class="card">
        <h5 class="card-header">Saved Cars</h5>
        <div class="card-body">
          <% if @cars.empty? %>
            <p class="card-text">No cars saved yet</p>
            <p class="card-text">Click the button below to add a car</p>
          <% else %>
            <ul class="list-group list-group-flush">
            <%@cars.each do | car |%>
              <li class="list-group-item">
                <div class="row align-items-center text-left">
                  <div class="col-md-8">
                    <%= "#{car.year} #{car.make} #{car.model}" %>
                    <br>
                    <%="VIN: #{car.VIN}"%>
                  </div>
                  <div class="cold-md-4">
                    <%= button_to 'Delete Car', '/delete_car/' + car.VIN, method: :post, class: 'btn btn-sm btn-outline-danger', data:{ confirm: "Are you sure you want to delete this car?" } %>
                  </div>
                </div>
              </li>
            <% end %>
            </ul>
            <br>
          <% end %>
          <a href="/new_car" id="addNewCar" class="btn btn-success">Add New Car</a>
        </div>
      </div>
    </div>
    <div class="col-md-5 mb-3">
      <div class="card">
        <h5 class="card-header">Service Appointments</h5>
        <div class="card-body">
          <% if @appointments.empty? %>
            <p class="card-text">No scheduled appointments currently</p>
          <% else %>
            <ul class="list-group list-group-flush">
              <% @appointments.each do | appt | %>
                <li class="list-group-item">
                  <%= "Appointment for #{Date.strptime(appt.date, "%Y-%m-%d").strftime("%B %-d, %Y")} in the #{appt.time}" %>
                </li>
              <%end%>
            </ul>
            <br>
          <% end %>
          <a href="/schedule" class="btn btn-success">Schedule Service Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
