<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-2 offset-md-5">
      <div class="card text-center">
        <h5 class="card-header">Account Settings</h5>
        <div class="card-body">
          <p class="card-subtitle mb-2 text-muted">Go here to change your email, password, or delete your account</p>
          <a href="/users/edit" class="btn btn-primary stretched-link">Go to Account Settings</a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row text-center">
    <div class="col-md-4 offset-md-2">
      <div class="card">
        <h5 class="card-header">Saved Cars</h5>
        <div class="card-body">
          <p class="card-text">View all your saved cars here.</p>
            <%@cars.each do | car |%>
              <%="Make: #{car.make}"%>
              </br>
              <%="Model: #{car.model}"%>
              </br>
              <%="VIN: #{car.VIN}"%>
              </br>
              </br>
            <%end%>
          <a href="/new_car" class="btn btn-success">Add New Car</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">Service Appointments</h5>
        <div class="card-body">
          <% if @appointments.empty? %>
            <p class="card-text">No scheduled appointments currently</p>
          <% else %>
            <ul class="list-group list-group-flush">
              <% @appointments.each do | appt | %>
                <li class="list-group-item">
                  <%= "Appointment for #{Date.strptime(appt.date, "%Y-%m-%d").strftime("%B %-d, %Y")}" %>
                </li>
              <%end%>
            </ul>
            <br>
          <% end %>
          <a href="/schedule" class="btn btn-success">Schedule Service Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
