<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="firstName" value=<%=@user_first_name%>>
      </div>
    </div>
    <div class="col-md-3 offset-md-2">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="lastName" value=<%=@user_last_name%>>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" value=<%=@user_email%>>
        <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
    <div class="col-md-3 offset-md-2">
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" id="phone" aria-describedby="phone" value=<%=@user_phone%>>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <div class="form-group">
        <label for="vehicleYear">Vehicle Year</label>
        <input type="text" class="form-control" id="vehicleYear" aria-describedby="vehicleYear" placeholder="">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="vehicleMake">Vehicle Make</label>
        <input type="text" class="form-control" id="vehicleMake" aria-describedby="vehicleMake" placeholder="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="vehicleModel">Vehicle Model</label>
        <input type="text" class="form-control" id="vehicleModel" aria-describedby="vehicleModel" placeholder="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <div class="form-group">
        <label for="vehicleVin">Vehicle VIN</label>
        <input type="text" class="form-control" id="vehicleVin" aria-describedby="vehicleVin" placeholder="">
        <small id="vehicleVin" class="form-text text-muted">Vehicle identification number found on insurance card or driver side dash board.</small>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="desiredDate">Desired Date</label>
        <input type="date" class="form-control" id="desiredDate" aria-describedby="desiredDate" placeholder="">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="desiredTime">Desired Time</label>
        <select class="form-control" id="desiredTime" name="desiredTime">
          <option>Morning</option>
          <option>Afternoon</option>
          <option>Evening</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="form-group">
        <label for="reason">Reason for scheduling</label>
        <input type="textarea" class="form-control" id="reason" aria-describedby="reason" style="height:250px">
        <small id="reason" class="form-text text-muted">Please describe the problems you are having with your vehicle.</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
