<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center mb-5 mt-5">
      <h1>Our Services</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p class="text-center">
        Owning a car can be an enjoyable time! However, that joy can soon turn 
        to frustration when something goes wrong with our car. Over the 
        lifetime of your car, you are bound to visit a mechanic; whether it’s a 
        routine checkup or something serious. It can be a hassle to find a
        mechanic you can trust to not only deliver quality service, but to also 
        be honest.
      </p>
      <p class="text-center">
        That is why here at The Z Center, we strive to ensure that we give our 
        best when it comes to repairing your car. We will always be honest and 
        transparent so you never have to worry about whether or not you are 
        getting the best deals. Our main goal is to not only make our customers
        happy, but to also ensure that once we fix something, you will not need 
        to come back for that part again!
      </p>
      <p class="text-center">
        Click the below titles to view more about the service offered!
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      
      <div class="accordion" id="servicesAccordion">
        <div class="card">
          <button class="btn btn-service btn-link danger-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAlignment" aria-expanded="false" aria-controls="collapseAlignment">
            <div class="card-header text-center" id="headingAlignment">
              <h3 class="mb-0">
                Alignment
              </h3>
            </div>
          </button>
          <div id="collapseAlignment" class="collapse" aria-labelledby="headingAlignment" data-parent="#servicesAccordion">
            <div class="card-body">
              If your vehicle is pulling to the left or to the right, then it is probably time for you to get an
              alignment. With a bad alignment, you will not only have a bad time driving, but you will also
              ruin your tires. We do a complimentary check to see if you need an alignment. If so, our
              technicians will get your car going straight once again!
            </div>
          </div>
        </div>
        
        <div class="card">
          <button class="btn btn-service danger-link btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAcServices" aria-expanded="false" aria-controls="collapseAcServices">
            <div class="card-header text-center" id="headingAcServices">
              <h3 class="mb-0">
                A/C Services
              </h3>
            </div>
          </button>
          <div id="collapseAcServices" class="collapse" aria-labelledby="headingAcServices" data-parent="#servicesAccordion">
            <div class="card-body">
              Having an A/C unit that does not work in Texas can make any car feel like a furnace. Therefore,
              it is imperative that the A/C in your car works. However, if it does not work, our technicians can
              identify the problem and get your A/C blowing cold air once again!
            </div>
          </div>
        </div>
        
        <div class="card">
          <button class="btn btn-service danger-link btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseBrakes" aria-expanded="false" aria-controls="collapseBrakes">
            <div class="card-header text-center" id="headingBrakes">
              <h3 class="mb-0">
                Brakes
              </h3>
            </div>
          </button>
          <div id="collapseBrakes" class="collapse" aria-labelledby="headingBrakes" data-parent="#servicesAccordion">
            <div class="card-body">
              The brakes on your car are one of the most important components that must work at all times.
              Without them, you run the risk of putting your life and your family’s life in danger. As a part of
              our complimentary inspection, we check not only your brake pads, but your rotors and brake
              fluid as well. If you are experiencing issues with your brakes, we are more than willing to help
              you out!
            </div>
          </div>
        </div>
        
        <div class="card">
          <button class="btn btn-service danger-link btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseCheckEngineLight" aria-expanded="false" aria-controls="collapseCheckEngineLight">
            <div class="card-header text-center" id="headingCheckEngineLight">
              <h3 class="mb-0">
                Check Engine Light
              </h3>
            </div>
          </button>
          <div id="collapseCheckEngineLight" class="collapse" aria-labelledby="headingCheckEngineLight" data-parent="#servicesAccordion">
            <div class="card-body">
              Check Engine Lights can be one of the most annoying problems to face. They are ambiguous
              and other shops that do free check engine light diagnostics normally just provide a code that
              narrows down the location of the problem. However, here at Z Center, we strive to make your
              life easier. If a customer wants it, we are willing to dedicate a technician to diagnosis what, why
              and where a part is broken, making your life easier. We are able to achieve this with thorough
              inspection along with computer analysis to find what may have caused your problem.
            </div>
          </div>
        </div>
        
        <div class="card">
          <button class="btn btn-service danger-link btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseDrivetrainAndSuspension" aria-expanded="false" aria-controls="collapseDrivetrainAndSuspension">
            <div class="card-header text-center" id="headingDrivetrainAndSuspension">
              <h3 class="mb-0">
                Drivetrain and Suspension
              </h3>
            </div>
          </button>
          <div id="collapseDrivetrainAndSuspension" class="collapse" aria-labelledby="headingDrivetrainAndSuspension" data-parent="#servicesAccordion">
            <div class="card-body">
              Your drivetrain and suspension dictate how well your car drives and if your car is safe. If your
              car has a drivetrain and suspension problem, we highly recommend that you seek help
              immediately. The drivetrain is made up of the engine, transmission, wheels and drive shaft; so,
              if any of these fail, it will affect how your car drives. Luckily, we have technicians that specialize
              in each of these areas and will get you up and running in no time.
            </div>
          </div>
        </div>
        
        <div class="card">
          <button class="btn btn-service danger-link btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseExhaustSystem" aria-expanded="false" aria-controls="collapseExhaustSystem">
            <div class="card-header text-center" id="headingExhaustSystem">
              <h3 class="mb-0">
                Exhaust System
              </h3>
            </div>
          </button>
          <div id="collapseExhaustSystem" class="collapse" aria-labelledby="headingExhaustSystem" data-parent="#servicesAccordion">
            <div class="card-body">
              Exhaust systems are not only an essential part of our cars, but important for the environment.
              By ensuring that your exhaust is functioning properly, you can limit the emission of gases that
              affect our environment. Contrary to popular belief, an exhaust system is not just a muffler; it
              entails the muffler, piping and a catalytic converter. Therefore, if something were to happen
              with one of these parts then your emissions may be too high, causing you to fail inspection.
              Luckily, at Z Center, we work with the best pipes and mufflers and are positive we can fix any
              type of exhaust problem. Our end goal is get your driving back on the road again!
            </div>
          </div>
        </div>
        
        <div class="card">
          <button class="btn btn-service danger-link btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseInspection" aria-expanded="false" aria-controls="collapseInspection">
            <div class="card-header text-center" id="headingInspection">
              <h3 class="mb-0">
                Inspection
              </h3>
            </div>
          </button>
          <div id="collapseInspection" class="collapse" aria-labelledby="headingInspection" data-parent="#servicesAccordion">
            <div class="card-body">
              It is imperative that you get a state inspection to keep your car and others safe on the road.
              When you come in for anything, we will do our complimentary inspection. During this, we will
              go check all parts of your car that are required during the state inspection. In the end, we want
              your car to be ready to go when you get your state inspection.
            </div>
          </div>
        </div>
      
    </div>
  </div>
</div>
