<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-info font-weight-bold">Our Services</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p class="text-center">
        Owning a car can be an enjoyable time! However, that joy can soon turn 
        to frustration when something goes wrong with our car. Over the 
        lifetime of your car, you are bound to visit a mechanic; whether it’s a 
        routine checkup or something serious. It can be a hassle to find a
        mechanic you can trust to not only deliver quality service, but to also 
        be honest.
      </p>
      <p class="text-center">
        That is why here at The Z Center, we strive to ensure that we give our 
        best when it comes to repairing your car. We will always be honest and 
        transparent so you never have to worry about whether or not you are 
        getting the best deals. Our main goal is to not make our customers
        happy, but to also ensure that once we fix something, you will not need 
        to come back for that part again!
      </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      
      <div class="accordion" id="servicesAccordion">
        <div class="card">
          <button class="btn btn-service btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAlignment" aria-expanded="false" aria-controls="collapseAlignment">
            <div class="card-header text-center" id="headingAlignment">
              <h2 class="mb-0">
                Alignment
              </h2>
            </div>
          </button>
          <div id="collapseAlignment" class="collapse" aria-labelledby="headingAlignment" data-parent="#servicesAccordion">
            <div class="card-body">
              Filler 1
            </div>
          </div>
        </div>
        
        <div class="card">
          <button class="btn btn-service btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAcServices" aria-expanded="false" aria-controls="collapseAcServices">
            <div class="card-header text-center" id="headingAcServices">
              <h2 class="mb-0">
                A/C Services
              </h2>
            </div>
          </button>
          <div id="collapseAcServices" class="collapse" aria-labelledby="headingAcServices" data-parent="#servicesAccordion">
            <div class="card-body">
              Filler 2
            </div>
          </div>
        </div>
      
    </div>
  </div>
</div>
