// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/z

.card .btn-service {
    padding: 0;
    border: 0;
}
body {
    font-family: "Roboto";
}
.service-header {
    font-size: 50px;
}
.accordion {
    margin-bottom: 45px;
}

// Makes placeholder text automatically wrap
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    white-space:pre-line;  
    position:relative;
    top:-7px;
}
::-moz-placeholder { /* Firefox 19+ */
    white-space:pre-line;
    position:relative;
    top:-7px;
}
:-ms-input-placeholder { /* IE 10+ */
    white-space:pre-line;
    position:relative;
    top:-7px;
}
:-moz-placeholder { /* Firefox 18- */
    white-space:pre-line;
    position:relative;
    top:-7px;
}
